<mat-toolbar color="primary">
    <div class="container">
        <a routerLink="/" mat-fab color="accent">
            <mat-icon>home</mat-icon>
        </a>
        <a routerLink="addresses" mat-raised-button>Addresses</a>
        <a routerLink="owners" mat-raised-button>Owners</a>
        <a routerLink="buildinggroups" mat-raised-button>Building Groups</a>
        <a routerLink="buildings" mat-raised-button>Buildings</a>
        <a routerLink="energymeters" mat-raised-button>Meters</a>
        <a routerLink="measurements" mat-raised-button>Measurements</a>        
    </div>
</mat-toolbar>