<mat-toolbar color="primary">
    <div class="container">
        <a href="#" mat-fab color="accent">
            <mat-icon>home</mat-icon>
        </a>
        <a href="https://localhost:7127/api/addresses" mat-raised-button>Addresses</a>
        <a href="https://localhost:7127/api/owners" mat-raised-button>Owners</a>
        <a href="https://localhost:7127/api/buildinggroups" mat-raised-button>Building Groups</a>
        <a href="https://localhost:7127/api/buildings" mat-raised-button>Buildings</a>
        <a href="https://localhost:7127/api/energymeters" mat-raised-button>Meters</a>
        <a href="https://localhost:7127/api/measurements" mat-raised-button>Measurements</a>        
    </div>
</mat-toolbar>