<div class="page-header">
  <div class="container">
    <h1>Owners</h1>
  </div>
</div>

<div class="container">
  
  <!-- Filter field -->
  <div class="row end-xs mt-1">    
    <div class="col-xs-12">
      <input type="text" class="search-input" placeholder="search owners"
      [(ngModel)]="filterString"
      (keyup)="filterOwners()">
      <a routerLink="/owners/add" mat-raised-button color="primary" class="ml-1">Create Owner</a>
    </div>
  </div>

   <div class="mt-1 mat-elevation-z6">
    <table mat-table matSort [dataSource]="dataSource" class="">    
      
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
      </ng-container>
      
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let element">{{element.address.city}}, {{element.address.streetName}} {{element.address.streetNumber}}, {{element.address.postalCode}} </td>
      </ng-container>      

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <a [routerLink]="['/owners', element.id]">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
    </table>

     <mat-paginator 
        [length]="15"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 50]"
        aria-label="Select page">
      </mat-paginator>
   
  </div>
</div>